header {
    top: 0;
   text-align: center;
}

h1 {
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 69, 69);

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
}
img {
    position: center;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    height: 250px
}
.stinky {
    border-radius: 20px;
    margin-top: -50px;
    padding: 20px;
    text-align: center;
}

.flashy {
    background-color: rgb(240, 236, 236);
    padding: 20px;
    border-radius: 20px;
}


.her {
    background-color: rgb(240, 236, 236);
    padding: 20px;
    border-radius: 20px;
}