header {
    top: 0;
}

h1 {
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
}
img {
    width: 100%;
}
.stinky {
    border-radius: 20px;
    margin-top: -50px;
    padding: 20px;
}

.flashy {
    background-color: rgb(211, 208, 208);
    padding: 20px;
    border-radius: 20px;
    flex: left 

}


.her {
    background-color: rgb(211, 208, 208);
    padding: 20px;
    border-radius: 20px;
    float: right;
}