header {
    top: 0;
   text-align: center;
}

h1 {
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 69, 69);

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
}

h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
}
img {
    position: center;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    height: 250px
}

.cable {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
}

.stinky {
    border-radius: 20px;
    margin-top: -50px;
    padding: 20px;
    text-align: center;
}

.flashy {
    background-color: rgba(242, 242, 242);
    padding: 20px;
    border-radius: 20px;
    position: center;
}


.her {
    background-color: rgb(242, 242, 242);
    padding: 20px;
    border-radius: 20px;
    position: center;
}